@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ft3gip");
  src: url("../fonts/icomoon.eot?ft3gip#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ft3gip") format("truetype"), url("../fonts/icomoon.woff?ft3gip") format("woff"), url("../fonts/icomoon.svg?ft3gip#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-vk-square:before {
  content: "\e90d";
}
.icon-filter:before {
  content: "\e90c";
}
.icon-chevron-with-circle-right:before {
  content: "\e90a";
}
.icon-chevron-with-circle-left:before {
  content: "\e90b";
}
.icon-circle-with-minus:before {
  content: "\e908";
}
.icon-circle-with-plus:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e907";
}
.icon-erase:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-shopping-bag:before {
  content: "\e903";
}
.icon-shopping-cart:before {
  content: "\e904";
}
.icon-quote:before {
  content: "\e905";
}
.icon-location-pin:before {
  content: "\e906";
}
.icon-paper-plane:before {
  content: "\e900";
}
/*****************************************************************************/
html,
body,
div,
header,
main,
footer,
article,
section,
aside,
figure,
figcaption,
table,
thead,
tbody,
tfoot,
tr,
td,
th,
h1,
h2,
h3,
h4,
p,
form,
fieldset,
input,
label,
button,
a,
span,
em,
strong {
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  text-decoration: none;
  border: none;
  outline: none;
}
html,
body,
div,
header,
main,
footer,
article,
section,
aside,
figure,
figcaption,
table,
thead,
tbody,
tfoot,
tr,
td,
th,
h1,
h2,
h3,
h4,
p,
form,
fieldset {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}
a,
span,
em,
strong {
  display: inline;
}
:focus,
:active {
  outline: none;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body {
  background-color: #fbfbfb;
}
#page-header {
  background-color: #bcbcbc;
  padding: 1px 0;
}
#page-header h1 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-weight: 100;
  color: #fbfbfb;
  text-align: center;
  text-transform: uppercase;
}
#page-header p {
  color: #fbfbfb;
  text-align: center;
}
#page-header .quotes {
  padding-left: 6em;
  padding-right: 6em;
}
.container {
  padding: 0 30px;
  position: relative;
}
.quotes {
  margin-bottom: 2em;
  font-weight: 400;
  font-style: italic;
}
.quotes::before {
  display: block;
  margin-bottom: 0.1em;
  text-align: center;
  content: "\e905";
  font-family: "icomoon";
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#top-ribbon {
  font-size: 1rem;
  margin-top: 1.5em;
  padding: 0.8em 0;
  background-color: rgba(0, 0, 0, 0.1);
}
#top-ribbon .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #fbfbfb;
}
#top-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  align-items: flex-end;
}
#top-menu a.top-menu-item {
  display: block;
  position: relative;
  padding: 0.6em 1.3em 0.4em 1.3em;
  font-size: 1rem;
  font-weight: 700;
  color: #fbfbfb;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  white-space: nowrap;
}
#top-menu a.top-menu-item.active {
  border-bottom-color: #fbfbfb;
}
#top-menu a.top-menu-item i {
  display: inline-block;
  margin-right: 0.4em;
}
#basket-informer {
  position: absolute;
  display: none;
  font-size: 0.7em;
  top: -0.2em;
  right: 0.2em;
  font-weight: 100;
  color: #6c6c6c;
  background-color: #fbfbfb;
  line-height: 1.6em;
  width: 1.5em;
  text-align: center;
  border-radius: 0.8em;
}
main {
  margin-top: 5em;
  margin-bottom: 8em;
}
main h2 {
  margin-bottom: 2em;
  font-size: 2rem;
  font-weight: 400;
  color: #6c6c6c;
  text-align: center;
}
.hwc {
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3em;
}
.twc {
  position: relative;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 3em;
}
.user-box {
  padding: 1.8em 1em;
  height: 100%;
  font-size: 1rem;
  color: #6c6c6c;
  border: 1px solid #bcbcbc;
}
.user-box h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
}
.user-box h4 {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 100;
  color: #212121;
  text-align: center;
}
.user-box figure.userpic {
  margin-bottom: 2em;
  text-align: center;
  height: 6em;
}
.user-box figure.userpic img {
  width: 6em;
  border-radius: 3em;
}
.user-box .quotes {
  padding-left: 1em;
  padding-right: 1em;
}
.user-profile {
  font-size: 1rem;
}
.user-profile figure.userpic {
  float: left;
  margin-right: 0.6em;
  margin-bottom: 0.4em;
}
.user-profile h3 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.6em;
}
.user-profile h4 {
  font-size: 1.4em;
  font-weight: 100;
  margin-bottom: 0.4em;
}
.user-profile::after {
  content: "";
  display: table;
  clear: both;
}
#categories {
  margin-bottom: 2em;
  font-size: 1rem;
}
#categories h3 {
  margin-bottom: 0.6em;
  font-size: 1.5em;
  font-weight: 100;
  color: #212121;
  text-transform: uppercase;
  text-align: center;
}
#categories ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
#categories li {
  display: block;
  border-top: 1px solid #ebebeb;
}
#categories li:last-child {
  border-bottom: 1px solid #ebebeb;
}
#categories a {
  display: block;
  padding: 0.7em 0 0.6em 0;
  line-height: 1.5em;
  color: #6c6c6c;
  text-transform: uppercase;
}
#categories a:hover,
#categories a.active {
  color: #212121;
}
.product-box {
  position: relative;
  height: 100%;
  padding: 0 1.5em;
  font-size: 1rem;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}
.product-box h4 {
  margin-bottom: 0.6em;
  font-size: 1.5em;
  font-weight: 100;
  color: #212121;
  text-align: center;
}
.product-box h5 {
  font-size: 1em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #6c6c6c;
}
.product-box figure.productpic {
  margin: 1em auto;
  width: 90%;
  position: relative;
  text-align: center;
}
.product-box figure.productpic img {
  width: 100%;
}
.product-box p.description {
  font-size: 0.9em;
  margin-bottom: 1.2em;
  color: #6c6c6c;
}
.product-box p.price {
  margin-bottom: 0.5em;
  font-size: 1.4em;
  font-weight: 100;
  color: #212121;
}
.product-box p.price::before {
  content: "Цена:";
  margin-right: 0.5em;
  font-size: 0.7em;
  font-weight: 400;
  color: #6c6c6c;
}
.product-box a.icon-shopping-bag {
  display: inline-block;
  margin: 0 auto 1.5em auto;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 0.6em 1.1em;
  color: #fbfbfb;
  background-color: #a2a2a2;
  border: 3px double #ebebeb;
  border-radius: 0.5em;
}
.product-box a.icon-shopping-bag::before {
  margin-right: 0.6em;
}
.product-box a.icon-shopping-bag:hover {
  border-style: outset;
}
.product-box a.icon-shopping-bag:active {
  border-style: inset;
}
.product-box p.info-msg {
  font-size: 1.2em;
  margin: 0.8em 0;
}
.price::after {
  content: "\20BD";
  margin-left: 0.3em;
}
.feedback {
  padding-top: 0.6em;
  margin-bottom: 1.4em;
  font-size: 1rem;
  border-top: 1px solid #ebebeb;
}
.feedback figure.userpic {
  float: left;
  margin: 0.6em 0.5em 0.2em 0;
}
.feedback figure.userpic img {
  width: 3.2em;
  height: 3.2em;
  border-radius: 1.6em;
}
.feedback p.quotes {
  font-size: 0.8em;
  color: #6c6c6c;
}
.feedback::after {
  display: table;
  content: "";
  clear: both;
}
.product-line {
  margin-bottom: 4em;
  border-bottom: 1px solid #ebebeb;
}
.product-line h3 {
  margin-bottom: 1.2em;
  font-size: 1.2em;
  font-weight: 700;
  color: #a2a2a2;
}
.product-promo {
  position: relative;
  font-size: 1rem;
  overflow: hidden;
}
.product-promo img {
  width: 100%;
}
.product-promo .promo-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 105%;
  box-sizing: border-box;
  padding: 1.8em;
  padding-top: 15%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #bcbcbc;
  transition-property: top;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.product-promo .promo-cover a.round-button {
  font-size: 1.4em;
  margin-bottom: 0.6em;
}
.product-promo .promo-cover h4 {
  font-size: 1.4em;
  margin-bottom: 0.6em;
  font-weight: 100;
  text-align: center;
}
.product-promo .promo-cover .description {
  font-size: 0.8em;
  line-height: 1.6em;
  color: #6c6c6c;
}
.product-promo:hover .promo-cover {
  top: 0;
}
a.round-button {
  display: block;
  text-align: center;
}
.round-button-content {
  display: inline-block;
  background-color: #fbfbfb;
  color: #6c6c6c;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
  width: 1.8em;
  border-radius: 1em;
  box-shadow: 0 0.1em 0.2em 0 #212121;
}
.paginator {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.paginator a,
.paginator p {
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: #6c6c6c;
}
label {
  color: #6c6c6c;
}
label.required {
  font-weight: 700;
}
select,
textarea,
input {
  margin-top: 0.4em;
  margin-bottom: 0.8em;
}
.admin-form {
  font-size: 1rem;
  margin-top: 2em;
  margin-bottom: 2.6em;
}
.admin-form select,
.admin-form textarea,
.admin-form input[type="text"],
.admin-form input[type="number"],
.admin-form input[type="password"],
.admin-form input[type="email"],
.form-control {
  width: 100%;
}
select,
textarea,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
  font-size: 1rem;
  border-bottom: 1px solid #a2a2a2;
  padding: 0.3em 0.4em 0.2em 0.4em;
  box-sizing: border-box;
  box-shadow: inset 0.1em 0.2em 0.5em 0 #bcbcbc;
  color: #212121;
}
input[type="submit"],
a.button-link {
  font-size: 1rem;
  display: inline-block;
  border: 3px double #a2a2a2;
  padding: 0.6em 1.2em;
  box-sizing: border-box;
  border-radius: 0.3em;
  background-color: #ebebeb;
  text-transform: uppercase;
  color: #6c6c6c;
}
span.helptext,
form ul {
  font-size: 0.8em;
  color: #6c6c6c;
  display: block;
  margin-top: -0.5em;
  margin-bottom: 1.2em;
}
form ul {
  margin-top: -1.6em;
}
form ul.errorlist {
  margin-top: 0.2em;
  margin-bottom: -0.2em;
  color: red;
}
#basket-content {
  font-size: 1rem;
  margin-bottom: 2em;
}
#basket-content p.info-msg {
  font-size: 2em;
  margin: 2em 0;
}
.basket-slot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  position: relative;
  padding: 0.8em 0;
  border-top: 1px solid #ebebeb;
}
.basket-slot:last-child {
  border-bottom: 1px solid #ebebeb;
}
.basket-slot .product-name {
  box-sizing: border-box;
  width: 45%;
  padding-right: 2em;
  font-size: 1.2em;
  font-weight: 100;
  color: #212121;
}
.basket-slot .price {
  box-sizing: border-box;
  width: 10%;
  font-size: 1.1em;
  font-weight: 100;
  color: #212121;
  text-align: right;
}
.basket-slot .quantity-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  width: 28%;
}
.basket-slot .quantity-box input[type="number"] {
  font-size: 1em;
  width: 5em;
  text-align: right;
  padding-left: 1.2em;
  padding-right: 0;
  background: transparent;
  box-shadow: none;
  border-top: 2px solid #a2a2a2;
  border-bottom: 2px solid #a2a2a2;
}
.basket-slot .quantity-box [class*=" icon-circle-with-"] {
  font-size: 1.4em;
  color: #6c6c6c;
  margin: 0.3em;
}
.basket-slot .slot-cost {
  box-sizing: border-box;
  width: 14%;
}
.basket-slot .icon-erase {
  box-sizing: border-box;
  width: 8%;
  font-size: 1.4em;
  color: #6c6c6c;
  text-align: right;
}
p.info-msg {
  font-weight: 100;
  color: #212121;
  text-align: center;
}
p.info-msg.standalone {
  font-size: 1.4rem;
  margin-bottom: 2em;
}
#basket-total {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 1rem;
  margin-bottom: 2em;
}
#basket-total .field-name {
  margin-left: 1.6em;
  font-size: 0.9em;
  font-weight: 400;
  color: #6c6c6c;
}
#basket-total .field-value {
  margin-left: 0.6em;
  font-size: 1.2em;
  font-weight: 100;
  color: #212121;
}
ul.item-list {
  padding: 0;
  margin: 2em 0;
  list-style: none;
}
ul.item-list li {
  margin: 0;
  padding: 0.6em 1em;
}
ul.item-list li.item-active {
  background-color: #ebebeb;
  border-top: 1px solid #fbfbfb;
  border-bottom: 1px solid #bcbcbc;
  color: #6c6c6c;
}
ul.item-list li.deleted {
  background-color: #bcbcbc;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #a2a2a2;
  color: #fbfbfb;
}
ul.filter-list {
  padding: 0;
  margin: 2em 0;
  list-style: none;
}
ul.filter-list li {
  margin: 0;
  padding: 0.4em 2em;
  color: #6c6c6c;
}
ul.filter-list li.active {
  color: #212121;
}
ul.filter-list a.icon-filter {
  margin-left: -1.4em;
}
ul.filter-list a.icon-filter::before {
  margin-right: 0.4em;
}
p.icon-location-pin,
a.icon-mail {
  margin-bottom: 1.2em;
  font-size: 1.2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
p.icon-location-pin::before,
a.icon-mail::before {
  font-size: 1.2em;
  margin-right: 0.3em;
  color: #212121;
}
p.icon-location-pin {
  font-weight: 100;
  color: #212121;
}
a.icon-mail {
  font-weight: 400;
  color: #6c6c6c;
}
#g-map {
  border: 1px solid #bcbcbc;
}
#page-footer {
  padding-top: 5em;
  background-color: #bcbcbc;
}
#copyleft,
#terms-conditions {
  margin-bottom: 2em;
  font-size: 0.8rem;
  font-weight: 700;
  color: #fbfbfb;
  text-transform: uppercase;
  text-align: center;
}
.grid {
  margin: 0 -15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid [class^="col-"],
.grid [class*=" col-"] {
  margin-bottom: 30px;
}
.col-3,
.col-4,
.col-5,
.col-6,
.col-8,
.col-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.order-1 {
  -ms-flex-order: 1;
  order: 1;
}
.order-2 {
  -ms-flex-order: 2;
  order: 2;
}
.order-3 {
  -ms-flex-order: 3;
  order: 3;
}
@media only screen and (min-width: 576px) {
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  #copyleft {
    text-align: left;
  }
  #terms-conditions {
    text-align: right;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
