{% extends 'base.html' %}

{% block page_content %}
    <p class="icon-location-pin">г.Черноморск, бывшее помещение галантерейного магазина</p>
    <a href="mailto:info@hornesnhooves.org" class="icon-mail">info@hornesnhooves.org</a>
    <div id="g-map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad137a0798538b7e99cad4ebcc517547c60c77d802ee990c4a8c7372a44df7133&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
{% endblock page_content %}